{% include 'nav_bar.html' %}
{% load static %}

<div class="backgro_mh">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="heding">
           <h2>O nama</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- about  -->
<div id="about" class="about">
  <div class="container">
    <div class="row display_boxflex">
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <h2>Zašto nas odabrati?</h2>
          <p>Duboko u srcu muzičkog stvaralaštva, <span class="forMe">Peđa Vukićević</span> i <span class="forMe">DJ Jole</span> zajedno čine neodoljivu kombinaciju spremnu da vašu proslavu, rođendan ili poseban događaj podignu na viši nivo i pretvore ga u nezaboravno iskustvo. <br> Sa velikom strašću prema muzici, Peđa Vukićević oduševljava publiku svojim izvanrednim glasom i virtuoznim sviranjem. Njegova muzička magija doprinosi stvaranju atmosfere koja će dirnuti sva vaša čula.
            U isto vrijeme, DJ Jole preuzima kontrolu nad ritmom i energijom događaja, obećavajući nezaboravnu noć ispunjenu elektronskim ritmovima. <br>Sposobnost DJ-a je da osjeti puls publike i prilagodi se njenim željama, garantujući da će vaša proslava ostati u sjećanju svima prisutnima. <br> Od uvodnih nota Peđe Vukićevića do ritmičkih eksplozija DJ Jola, njih dvojica zajedno stvaraju harmoniju koja će vas držati u pokretu do ranih jutarnjih sati.
            <br>Doživite spoj vrhunskih talenata i strastvenog izraza kroz muziku, jer Peđa Vukićević i DJ Jole donose ne samo zvuk, već i neponovljivu atmosferu koja će vaš poseban trenutak učiniti nezaboravnim!</p>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <div class="about-box">
          <figure><img src="{% static 'images/beat.png' %}" alt="#" /></figure>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- end abouts -->

{% include 'footer.html' %}

</body>

</html>